.page-section__introduction {
  padding: 60px 0;
  text-align: center;

  background: url('/images/background.jpeg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .clip-shape {
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  }

  .photo {
    width: 300px;
    max-width: 500px;
    margin: 70px 0 60px 0;
  }

  h1 {
    margin: 0;
    font-size: 60px;
    font-weight: bold;
    line-height: 80px;
    color: #e60000;
    text-shadow: 1px 1px 0 white;
  }

  h2 {
    margin: 0;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    font-style: italic;
  }

  .title-icon {
    text-align: r
  }

  .book-formats-available {
    display: block;
    color: #777;
    margin-top: 30px;
  }

  p {
    margin: 20px 0;
  }

  a {
    font-size: 26px;
  }

  .btn {
    background-color: #f7eb20;
    color: #333;
    text-shadow: none;
    margin-top: 70px;
    margin-bottom: 20px;
  }

  .social-links a {
    font-size: 2em;
    margin: 15px 30px;
    display: inline-block;
  }
}